<div class="col-md-4 mt-3">
    <div class="card text-center">    
        <img src="../public/img/one-piece-marineford.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">One Piece Marinford</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        <div class="card-footer text-muted">
            2 days ago
        </div>
    </div>
</div>
<div class="col-md-4 mt-3">
    <div class="card text-center">
        <img src="../public/img/one-piece-reverie.png" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">One Piece Reverie</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        <div class="card-footer text-muted">
        2 days ago
        </div>
    </div>
</div>
<div class="col-md-4 mt-3">
    <div class="card text-center">
        <img src="../public/img/one-piece-sabaondi.png" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">One Piece Sabaondi</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        <div class="card-footer text-muted">
        2 days ago
        </div>
    </div>
</div>