<div class="col-md-8 mt-4">
    <h3 class="mb-3">Create New Manga</h3>
    <form action="/mangas" method="POST" enctype="multipart/form-data">
        <%- include('./_form_fields') %>
        <button type="button" class="btn btn-danger" onclick="window.location.href='/mangas'">Cancel</button>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>