<div style="position: fixed; z-index: 1;">
    <div class="d-flex justify-content-center mx-auto my-auto" style="
    position:fixed;
    top:0;
    left:0;
    z-index:1040;
    width:100vw;
    height:100vh;
    background-color: #000;
    opacity: 50%;
">
    <div class="spinner-border text-primary mx-auto my-auto" role="status" style="
    width: 4rem;
    height: 4rem;
    z-index:66;
">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>