<div class="col-md-6 mt-3">
    <h3 class="mb-3">Search Author</h3>
    <form action="/authors" method="GET">
        <div class="form-group">
            <label for="author-name">Name</label>
            <input type="text" name="name" class="form-control" id="author-name" value="<%= search.name %>">
        </div>
        <button type="submit" class="btn btn-success">Search</button>
        <button type="button" class="btn btn-primary" onclick="window.location.href = 'authors/create'">Add New</button>
    </form>
    <br>
        <div class="card">
            <ul class="list-group list-group-flush">
                <% authors.forEach(author => { %>
                    <li class="list-group-item">
                        <%= author.name %>
                        <span class="badge badge-danger" style="float: right;">Delete</span>
                        <span class="badge badge-primary mr-2" style="float: right;">Edit</span>
                    </li>
                <% }) %>
            </ul>
        </div>
</div>